[2019-01-23 06:52] zezic opened #1 "Clock emits parasitic pulse after reverse"
Clock module emits unwanted parasitic pulse after hitting `REV` when driven by external `CLOCK`.

[2019-01-23 06:56] zezic opened #2 "Clock emits doubled pulse when driven by external pulse"

[2019-01-23 07:14] zezic opened #3 "Add noise to SH-8 when no input connected"
Use noise as signal source for SH-8 if no input connected.

[2019-01-23 07:30] zezic opened #4 "Allow to use pulse as a clock source for Divider"
Pulse-clocked systems are still very popular, support pulse-based clock in Divider.

[2019-01-23 16:52] zezic opened #5 "Please, add gate mode to Divider as an option"
Sometimes, for fast production, gate outputs are useful instead of clock-pulse outputs, so, please, add this option to Clock and Divider modules.

[2019-01-23 17:06] zezic opened #6 "Module Request: Mixer"
Quoting ideas here:

- 8 стерео каналов (если подключен один левый вход то работает моно)
- 3 х полосный эквалайзер на каждом канале (100hz shelf, 1khz q2 можно и с выбором частоты, 10khz shelf)
- панорама на каждом канале
- фейдеры с длинным ходом для точной отстройки микса
- 4 посыла с каждого канала - 4 возврата соотвественно
- на каждом возврате тоже по трехполосному эквалайзеру
- стереовыход

[2019-01-23 18:57] zezic opened #7 "Module Request: Shifted Attenuverter"
Add few attenuverter modules with the blocks of the next scheme:
Input * Attenuator + Offset = Output

[2019-01-24 01:11] zezic opened #8 "FN-3 can produce infinity in SIN mode when PW is zero"

[2019-01-24 04:01] zezic commented on #8
Fixed with cca527a5e92fa3c61fc7e85b1df97e5c64fe88cd

[2019-01-24 04:01] #8 closed

[2019-01-24 05:51] zezic opened #9 "Clock outputs 0.0f instead of 10.0f when resetted in reverse mode"

[2019-01-24 06:21] zezic commented on #9
Fixed by b061a35cc287b6f364f980c39fd81585984cc8c6

[2019-01-24 06:21] #9 closed

[2019-01-24 06:39] zezic commented on #1
Fixed in c98bc21cbf558b13c873d334c4cfa7eb139985de

[2019-01-24 06:39] #1 closed

[2019-01-24 06:41] zezic commented on #2
Should be fixed now, because hard-sync is disabled when in "external pulse" mode.

[2019-01-24 06:41] #2 closed

[2019-01-24 07:58] zezic opened #10 "Divider loses sync"
Divider loses sync when not in 1:1 mode.

[2019-01-24 09:33] zezic opened #11 "Clock outputs noise instead of phase"
Clock module outputs noise instead of phase if driven by external clock.
Ext clock -> CLOCK
Ext clock -> RESET
Rev = On
[zzc_dich.vcv.zip](https://github.com/zezic/ZZC/files/2791027/zzc_dich.vcv.zip)

[2019-01-24 09:51] zezic commented on #11
Fixed 77be53977e04c88be6b59512e7963ea40bee225e

[2019-01-24 09:51] #11 closed

[2019-01-27 12:26] zezic opened #12 "Module Request: Gates Indicator"
Add a module capable of passing 8 signals thru it and showing their voltages with small leds.

[2019-01-29 04:13] zezic opened #13 "Module Request: Phase Driven Sequencer"
Create a sequencer which is able to be driven by the phase of clock.

Key features:
- Inputs to control sequence start/end boundaries
- Inputs to control start/end position of each note
- Inputs to attenuate V/OCT of each note
- Input to control reset position (for example, to reset on 2nd step instead of 1st)
- Input to control pattern shift
- Bipolar knobs

To get familiar with the essentials of

[2019-02-02 06:23] zezic opened #14 "Module Request: Abletonish Overdrive"
Make a module resembling the Overdrive effect from Ableton Live.

[2019-02-05 00:47] zezic opened #15 "Module Request: Small Phase Divider"
Make a smaller version of Divider module.

[2019-02-06 10:54] zezic opened #16 "Module Request: Dual Switch"
Create a switch module with 2 triggers, 2 inputs and 1 output.

[2019-02-07 10:49] zezic opened #17 "Sanitize the inputs of FN-3 module!"
Or someday it will hurt you.

[2019-02-09 10:17] zezic commented on #13
Please, add an impulse-based transport input.

[2019-02-13 19:17] zezic opened #18 "Module Request: XY Mixer / Controller"
Create a module capable of mixing several signals controlled by XY-display.
Create a similar module with XY-display and CV outputs.

[2019-02-14 13:42] zezic commented on #3
Added in 3678c1a3301f4720a624f8f283fa755d347a8e69

[2019-02-14 13:42] #3 closed

[2019-02-14 13:43] zezic commented on #5
Added in adfd111e94672a10b6b6dadc71fa585b93a852ea

[2019-02-14 13:43] #5 closed

[2019-02-14 13:47] zezic commented on #17
I can't reproduce it anymore.

[2019-02-14 13:47] #17 closed

[2019-02-21 18:40] zezic opened #19 "FN-3 Display is broken after randomize"

[2019-03-16 14:39] zezic opened #20 "Feature Request: Toggle/Hold mode switch for Run/Clutch inputs"
Add a menu option to be able to switch Run/Clutch input in every device from "Toggle" mode to "Hold" mode. Sometimes that's a much better option to keep the playing state synchronized between many modules.

[2019-03-16 14:40] zezic opened #21 "Feature Request: Reset on Start"
Add an option to reset phase of module automatically when it starts.

[2019-03-16 20:10] zezic opened #22 "Enhancement: Make SH-8 outputs use different noise"

[2019-03-16 20:19] zezic opened #23 "Module Request: Compact Mixer"
Make a compact mixer module with variable number of channels.

[2019-04-12 09:44] zezic commented on #22
Done in ba2c9e55e2785bab19ae2b8ae4567d9a4a7c9334

[2019-04-12 09:44] #22 closed

[2019-04-12 09:45] zezic opened #24 "Documentation"
Create a documentation framework.
* Should support Markdown
* Should provide a way to annotate UI

[2019-04-23 14:57] zezic opened #25 "Divider forgets about Swing Knob when CV is plugged in"
Divider module stops to react to Swing Knob when Swing CV is plugged in.
**Happens only when CV == 0.0V.**

[2019-05-06 14:36] zezic opened #26 "Module Request: Envelope Generator"
Please, make a powerful envelope generator, something similar to Maths or Ramp**age**, but don't clone them, that's stupid and boring, better to use some another core principles/ideas. Add a **vis**ual representation of envelope ballistics and call it **Visage**.

[2019-05-08 13:51] zezic opened #27 "Module Request: Grid"
Create a module with a fixed grid of adjustable/variable electrical components and connections between them.

[2019-05-10 12:23] zezic opened #28 "Module Request: Random Switch"
Make a random switch module which is like sequential switch, but random :)
And hey, add something unique to it and also add the crossfades with adjustable speed.

[2019-05-10 12:27] zezic commented on #13
Released here: https://vcvrack.com/plugins.html#ZZC%20Phaseque
Documentation is still in progress.

[2019-05-10 12:27] #13 closed

[2019-05-11 06:54] zezic opened #29 "Smooth FH-3 SQR mode"
во время патчинга образовался реквест в голове - слю модуль дополняющий работу ФН. например нравится мне ритм у пульса который выходит, но жестковат, приходитя колхозить сторонний слю, которые очень уж на глаз режут атаку и релиз. Есть теоретически возможность такого слю привязать к фазе? И также заодно туда добавить AD генератор например, ну или искажатель формы атаки и дикея как например верхняя

[2019-05-11 09:14] ContemporaryInsanity opened #30 "Loading fn-3 crashes rack."
When trying to load fn-3: *** buffer overflow detected ***: ./Rack terminated
Aborted (core dumped)

4.15.0-48-lowlatency #51-Ubuntu SMP PREEMPT Wed Apr 3 10:17:16 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[2019-05-11 09:18] zezic commented on #30
@ContemporaryInsanity thanks for reporting. I'm looking into possible places where it could happen. If I don't find anything on my side I will help you to debug it on your host.

[2019-05-11 09:20] ContemporaryInsanity commented on #30
Ok, happy to help debug this end if needed.

On Sat, 11 May 2019 at 10:18, Sergey Ukolov <notifications@github.com>
wrote:

[2019-05-11 09:20] ContemporaryInsanity commented on #30
Ok, happy to help debug this end if needed.

[2019-05-11 10:06] zezic commented on #30
@ContemporaryInsanity here is the build where I'm trying to use `snprintf()` instead of `sprintf()` functions. Please, try it and report if it helps.
[ZZC-0.6.5-lin.zip](https://github.com/zezic/ZZC/files/3168898/ZZC-0.6.5-lin.zip)

The actual changes I've done are here: f4232dad85e2cc230428ad4a6c7b9878804a60c2

[2019-05-11 10:17] ContemporaryInsanity commented on #30
It now loads, but doesn't open a waveform, only DC.

[2019-05-11 10:22] zezic commented on #30
OK, at least it does not crash. So, it loads, shows mode (SIN) and offset (UNI), but display does not render the waveform?
Also, does it work now? In default configuration it should be able to convert saw from LFO (plug it to `PHASE`) to sine (output to `WAVE`).

[2019-05-11 10:24] zezic commented on #30
@ContemporaryInsanity ah, wait, you mean, it outputs DC on its audio output. You need to pass something to its input. For example, sawtooth LFO.

[2019-05-11 10:26] ContemporaryInsanity commented on #30
My mistake, working fine now!

[2019-05-11 10:33] zezic commented on #30
@ContemporaryInsanity excellent! Thank you for helping me to find this. For now you can use the build I sent to you and I will notify you with the new version of ZZC modules as soon as it outs to make your installation continue updating automatically from VCV Plugin Manager.
Feel free to create another Issue and ask anything If you have any questions regarding ZZC plugins.

[2019-05-11 10:33] #30 closed

[2019-05-11 10:37] ContemporaryInsanity commented on #30
Glad to be of help and thank you too.

[2019-05-11 11:29] zezic commented on #29
Probably, this is an idea for a separate module. Don't know how to call it, maybe, *FN-1*.

[2019-05-11 15:48] zezic commented on #30
@ContemporaryInsanity notifying you that ZZC plugin with fix has been published to plugin manager. You can remove manually installed version, restart Rack and it should ask you for update.
Have a good day!

[2019-05-11 18:56] Torinbob opened #31 "Possible to add more sync modes (ppqn) to Clock external pulse input?"
Currently Clock syncs to external pulse as bpm or 1 pulse per quarter note (ppqn). As Clock measures the time between the first 2 pulses, it is relatively slow to sync at this frequency. Would it be possible to add at least a 4ppqn option please (for sending a 4x clock) and ideally a 24 ppqn sync option (perhaps in contextual menu setting) which would make syncing much quicker and more responsive

[2019-05-11 20:01] zezic commented on #31
Thank you for your request. It's a good idea. I will implement it and let you know.

[2019-05-13 12:23] zezic opened #32 "Be compliant with VCV voltage standards"
Provide a context menu option for all related modules (Clock, Phaseque) to be able to use the 1V/oct standard instead of V/BPS to be compatible with https://vcvrack.com/manual/VoltageStandards.html#pitch-and-frequencies

[2019-05-13 15:25] zezic opened #33 "Light Theme"
Develop light theme for all ZZC modules.

[2019-05-14 19:14] zezic opened #34 "Module Request: Precise Rescaler"
Make a precise signal rescaler with big visualization.

[2019-05-14 19:48] emmahasapetgiraffe commented on #33
i would love to see a light theme.

[2019-05-14 19:55] emmahasapetgiraffe opened #35 "Module Request: gate sequencer"
the left side of phaseque is something ive been missing in other sequencers. i would love to see this in a 16 step sequencer, say 8 lines, maybe things like length and/or probability.

[2019-05-14 21:13] zezic commented on #35
Thanks for request. We need to think about how to make it not too similar to what we already have in VCV Pulse Matrix.
When saying about the left part of Phaseque you meant its pattern switching functionality or something else?
Length and probability are good ideas, not sure yet how to fit that many controls in 16x8 grid though.

[2019-05-14 23:10] zezic opened #36 "Be compatible with Rack 1.0"

[2019-05-15 21:17] emmahasapetgiraffe commented on #35
yes, the pattern/sequence switching but also the mutating and shifting, the latter being a nice tool to experiment rhythmically since it allows for less rigid rhythms. i notice for me the overall 'feel' of this phase driven vs the typical pulse clocking is less rigid, its allows time to 'wobble' slightly. that is something very musical to me and is something id love to see geared towards rhythm sp

[2019-06-03 05:22] VegaDeftwing commented on #6
will all pro modules be provided in what is currently zzc-phaseque or will they be individual purchases?

[2019-06-03 05:25] VegaDeftwing opened #37 "Copyright?"
The project is GPL V3'd, but what is the licence/copyright on the graphics (knobs, buttons, sliders, module art)? I'm looking at creating a set of alternative SVGs for other 3rd party modules what match those from ZZC.

[2019-06-03 05:45] VegaDeftwing commented on #29
From what I can tell, this request is for a slew limiter, is it not? If that's the case, I'd very much like to see the ZZC take on it, or maybe FN-3 could be expanded to have an integrated slew limiter?

[2019-06-03 05:54] VegaDeftwing commented on #36
It would be nice if Clock had an option to output a poly signal with 1x on ch1, 2x on ch2, 4x on ch3 and so on

A module very similar to SH-8 but using polyphonic cables would be nice as well, could have only 2 inputs and 1 output: a monophonic cable for noise, a polyphonic cable for trig and a polyphonic cable for the outputs

Finally, polyphonic output on Phaseque would be great, especially if i

[2019-06-03 13:08] zezic commented on #6
@VegaDeftwing ZZC Phaseque will only contain future updates of Phaseque, panel extensions and module-companions related to Phaseque. Maybe I will include some new module which is related to phase-driven sequencing to ZZC Phaseque package later. There is a plan to create another module called Phaseq (smaller version of Phaseque) and maybe multiline trigger sequencer.
What's about other "pro" module

[2019-06-03 14:04] zezic commented on #37
@VegaDeftwing I just added a mention of license of panel graphics to LICENSE.txt, thank you for asking this question. They are not under GPL V3.
I will kindly give you permission to use ZZC graphics in a publicly available project (such as a set of alternative SVGs for some other VCV modules) after reviewing the panel layouts. The ergonomic of panel layout of a module where you plan to use graphic

[2019-06-03 14:17] zezic opened #38 "Module Request: Slew Limiter"
Continuation of discussion #29
Would be nice to have a classic time-based slew limiter. Additional ideas for this module are appreciated to make it special and provide something which is not allowed by similar existing modules.

[2019-06-03 14:24] zezic opened #39 "Module Request: Polyphonic S&H"
User story:
_A module very similar to SH-8 but using polyphonic cables would be nice as well, could have only 2 inputs and 1 output: a monophonic cable for noise, a polyphonic cable for trig and a polyphonic cable for the outputs_

[2019-06-03 14:28] zezic commented on #36
@VegaDeftwing I will think about this option for clock. Maybe, it will be included as a right-click menu option.

Confirmed polyphonic S&H: #39

Polyphonic output of Phaseque will be implemented for sure, at least for single-at-a-time pattern playback. I will think about multiple parallel patterns playback, it can be a feature for panel extension, thank you for idea.

[2019-06-03 16:20] VegaDeftwing commented on #37
Awesome, It'll be a bit before I have enough done for it to make sense. Unfortunately the only way to replace some of the knobs/ports on a lot of modules without recompiling is to change the svgs in the stock component library. I tried a few things just to make sure everything I wanted to do was possible- these are in no way representative of what I'd consider final versions:
![DeepinScreenshot_se

[2019-06-03 16:23] VegaDeftwing commented on #6
Alright, thanks for the clarification! Really enjoying Phaseque so far and I'll probably end up getting other pro modules you make if they're even half as good

[2019-06-03 16:38] VegaDeftwing commented on #38
Upon looking at all the available slew limiters in VCV at the moment:
![DeepinScreenshot_select-area_20190603113059](https://user-images.githubusercontent.com/11283620/58818233-32f56180-85f3-11e9-8bbd-4caac32385e9.png)
It seems the 'best' in my opinion Rampage and Leakage. I'd really like to see something just a bit larger than Leakage that has dedicated rise and fall with CV as well as ZZC style

[2019-06-03 17:01] zezic commented on #37
Ohh, I'm not sure that remixing the graphics of Fundamental modules is a good idea. They are © 2018 by Grayscale and licensed under CC BY-NC-ND 4.0.

Also, by coincidence there was a discussion about excessive similarity of ZZC modules design to design of Fundamental modules. I had to change fonts to make them not feel too much as "plagiarism". So your intention of giving them ZZC-style can become

[2019-06-03 18:15] VegaDeftwing commented on #37
The original graphics are C grayscale, but so long as I change everything,
not using thu original svg at all it should be fine?

On Mon, Jun 3, 2019, 12:01 PM Sergey Ukolov <notifications@github.com>
wrote:

[2019-06-03 19:27] zezic commented on #37
Theoretically, it should be legal. But I don't think that you will get a positive feedback from authors of modules, especially from authors of Fundamental. And keep in mind that to make such redesign package to not break something you will have to provide skins for all modules (free and paid) which use core graphics in their components (this is quite large number) and to update it when some new mo

[2019-06-03 21:12] VegaDeftwing commented on #37
Yeah, I think youre right. Ill just start from scratch then. Thanks anyway
:)

On Mon, Jun 3, 2019, 2:27 PM Sergey Ukolov <notifications@github.com> wrote:

[2019-06-06 20:10] Torinbob commented on #36
Hi Zezic

There is currently a community document tracking progress of plugins towards V1 compatibility. Please would you let me know if you are currently working on that? I could then ask for the status to be updated  to "In progress".

Many thanks.

[2019-06-06 20:19] zezic commented on #36
Hello, @Torinbob
Thank you for contacting me about that! Currently ZZC plugin is already able to work with V1, you can check it at branch called `migrate-to-v1` in this repo. There is still no polyphony support, so I'm working on it.
What's about ZZC Phaseque - currently its codebase also prepared and tested with V1 (sources are closed). I'm working on performance optimization of Phaseque and of c

[2019-06-06 21:41] Torinbob commented on #36
Brilliant - thank you!

[2019-06-25 22:33] Torinbob commented on #36
Hi ZZC - is there a mac build beta I could check out by any chance? I'm not to concerned about polyphony but would love to see the clock, divider and function generator in V1! thanks.

[2019-06-26 12:18] stephanepericat commented on #36
awesome :)

[2019-06-27 08:10] zezic opened #40 "Module Request: Clock Divider Extension"
Create an extension module for Clock for dividing it's clock with automatic reset and phase connection.

[2019-06-27 08:21] zezic commented on #36
Hi, @Torinbob

There is no build for Mac yet, but I'm working on porting to 1.0 at the moment.
Yesterday I've added polyphony to SC-VCA, it was not so smooth as I expected (because SIMD optimization is a new thing for me), but I think it should make me go better with other modules.
Today my plan is to add polyphony to Divider, FN-3 and, maybe, SRC.
After that I plan to add poly to Phaseque and cre

[2019-07-06 17:25] FMTolstoevsky commented on #36
Есть ли надежда увидеть ваши замечательные модули версии 1 в течение ближайшей недели, Сергей? Каждый день проверяю github, вижу какие-то подвижки в процессе, но, видимо, что-то вас пока смущает?
С наилучшими пожеланиями,
Тигран.

[2019-07-07 09:43] zezic commented on #36
@FMTolstoevsky, спасибо, что интересуетесь. Были небольшие трудности, но сегодня я отправил запрос на включение обновлённых модулей в библиотеку: https://github.com/VCVRack/library/issues/552#issuecomment-508985095
SC-VCA и FN-3 будут полифоническими сразу, поддержка полифонии в Divider и SRC будет добавлена позже, Clock и SH-8 останутся монофоническими.

[2019-07-07 13:27] FMTolstoevsky commented on #36
Отличные новости, очень рад и надеюсь, что команда проверяльщиков (cschol и его коллеги :) не станет мутузить ваш пакет столь же долго, как, например, товарища Bidoo ;)
Ну а по поводу полифонии - ИМХО это дело добровольное (для авторов), если есть силы и желание, такая добавка конечно приветствуется, но и без нее я раньше прекрасно обходился.

[2019-07-07 17:05] #36 closed

[2019-07-07 17:05] #37 closed

[2019-07-07 17:06] zezic opened #41 "Polyphonic Divider"
Make Divider support polyphony.

[2019-07-07 17:08] zezic opened #42 "Polyphonic SRC"
Make SRC support polyphony.

[2019-07-20 05:22] VegaDeftwing commented on #36
How is progress on Phaseque coming? Do you have an estimated time to completion?

[2019-07-22 10:24] Stubs42 opened #43 "Reset Handling"
Hi,
To keep clock dividers in sync with the clock, the clock dividers have to be reset with the clock.
The clock dividers should behave similar to the clock itself but the don't.
The clock resets its phase and delivers the first clock tick on start which is exactly what I would expect but the clock dividers deliver a clock tick on reset and miss the the first clock tick when starting.
I'm a great

[2019-07-29 13:29] zezic commented on #36
@VegaDeftwing I've done most of possible adaptations of it to Rack 1.1 now. I've sent it to review and I think, it should appear in library today or tomorrow if it has no any issues (depends on VCV Rack library team).

[2019-07-29 13:58] zezic opened #44 "Clock Continuous Phase Output"
User story:

I stumbled over one problem in my patch which took me quite time to solve.
I tried to sync a slow running ENVY9 to the clock in a way that it will
start when pressing run.
The problem was, that when ENVY9 gets no clock, it will have timing
problems when starting.
So I had to create a continuous clock beside your clock, because when I
stop your clock it's doing what it's expected to do

[2019-07-30 13:40] zezic commented on #36
@VegaDeftwing Phaseque 1.1.0 was added to the library

[2019-07-30 14:05] Torinbob commented on #31
Hi Zezic - just wondered if there was any update on this? thanks

[2019-07-30 14:27] zezic commented on #31
Hi, @Torinbob, there no updates regarding this yet. At the moment I'm working on documentation for Phaseque which is just was released for Rack 1.1.x. After it I will proceed to feature requests like this and will post to this thread with an update as soon as it will be available.

[2019-07-31 14:51] zezic opened #45 "Use mm for graphics and widget positioning"

[2019-07-31 19:45] zezic opened #46 "Logarithmic/exponential mode for SC-VCA"
Look for it in Bogaudio MIX4

[2019-07-31 20:20] abozzelli commented on #35
+1 for a gate sequencer with pattern sequencing, resolution and shift (or whatever).

[2019-08-03 08:15] zezic opened #47 "Module Request: Multiplication Modulation VCO"
Calculate phase by something like `eucMod(t * pitch * modulation)`.

[2019-08-08 12:10] zezic opened #48 "Make buttons work correctly with MIDI"
Momentary buttons act not as expected because of decoupling of module parameters and internal state.

[2019-08-15 09:44] SynthiBaron opened #49 "Best VCV Sampler"
Hi Sergey,
 I miss very much a sampler that can do everything^^
with slice and chop function where you can put the slices on a trigger input,
actually a mix of erica synth sample drum and 1010 music bitbox.
Clock inut and reset should also be present.
I've tried a lot but nobody convinced me so far! How do you think or the community about a
Professional sampler, I'd buy one right now.
Find your GU

[2019-08-15 09:49] ContemporaryInsanity opened #50 "Stoermelder STRIP / Phaseque crash"
Attempting to select ZZC Phaseque voltage knobs for inclusion in Stoermelder STRIP randomisation crashes rack.

[117.876 fatal src/main.cpp:38] Fatal signal 11. Stack trace:
8: ./Rack() [0x56d951]
7: /lib/x86_64-linux-gnu/libc.so.6(+0x3ef20) [0x7fdf7cfeef20]
6: /home/ewen/.Rack/plugins-v1/Stoermelder-P1/plugin.so(_ZN5Strip13ExcludeButton10onDeselectERKN4rack5event8DeselectE+0x10c) [0x7fdf5474353c]

[2019-08-15 11:28] zezic commented on #49
Thank you for your request, @SynthiBaron. I'm also thinking about such handy sampler. I think, I will create one sooner or later.

[2019-08-15 12:37] zezic commented on #50
Thanks, @ContemporaryInsanity. We will try to figure out the right solution for this at https://github.com/stoermelder/vcvrack-packone/issues/44

[2019-08-16 08:17] SynthiBaron commented on #49
Thank you for offering this option, I hope sooner :)
Have a nice day!

[2019-08-16 08:35] ContemporaryInsanity opened #51 "MIDI mapping to knobs does not work with ZZC modules"
Mapping to buttons seems ok but I haven't tested extensively.

[2019-08-16 09:15] zezic commented on #51
Which particular module are you talking about? If it's about expression X/Y displays of Phaseque or its "MUTA" knob , then yes, they don't support MIDI mapping yet. But other knobs should work fine.
Can you specify the module and its knob where mapping does not work?

[2019-08-16 09:28] ContemporaryInsanity commented on #51
Strange, I was attempting to map a x-touch controller to Phaseque voltage knobs, having gone back for another look it's now working, perhaps I was doing something stupid, not properly awake yet, apologies.

[2019-08-16 09:28] #51 closed

[2019-08-19 00:01] espenstoro opened #52 "Feature Request: SH-8 voltage range options in right-click menu?"
It would be super useful to be able to set the voltage range to 10/-10, 5/-5, and so on. Is that something you would consider? One of the most useful modules already, but I miss that. The range is often a bit too small for many things. :)

Cheers,
E

[2019-08-19 10:05] zezic commented on #52
Sure. I think it would be nice to have it as a menu option.

[2019-08-29 16:45] ContemporaryInsanity opened #53 "Phaseque feature request"
Could REALLY use a transpose facility in Phaseque, would it be possible for a menu option to toggle the shift knob between shift and transpose please?

[2019-09-04 18:44] glocke01 commented on #49
One thing I'd request, something that would fit with the focus on "phase" in the ZZC modules, is a sampler where you "scrub" through the buffer, a la the "wave~" object in Max. Basically, this amounts to a sampler with a "phase" input instead of trigger/pitch controls and interpolating playback.

Just spitballing here, but to make this usable, you could have it output a V/Oct CV signal inversely p

[2019-09-04 18:48] zezic commented on #49
@glocke01 that's a nice request too. I definitely will implement that manual sample scrubbing feature you talking about. It's also nice that VCV now has the integrated oversampling feature which makes such things more usable than before.

[2019-09-04 18:57] zezic commented on #53
@ContemporaryInsanity I was thinking about such feature at the start of Phaseque development, but then I decided to not implement it because it can be done outside of Phaseque (by shifting the voltage coming out of `V` output with another attenuverter module).
The first development version of Phaseq had the per-step transposition feature (seen on this demo: https://www.youtube.com/watch?v=9NbFBDwR

[2019-09-05 08:50] ContemporaryInsanity commented on #53
How I typically use Phaseque is to setup a pattern in slot 1, then copy that to slot 2, amend it, copy to slot 3, amend etc etc  So you can see how I would find it handy to shift a pattern vertically (transpose) as opposed to horizontally (shift) so a dual purpose shift knob would be very useful to me.  Similarly, we have a copy steps to next / previous pattern, and a copy reso to all patterns, a

[2019-09-05 09:03] ContemporaryInsanity commented on #53
Also, I use ML trigger buffers to switch patterns in time with the clock, would it possible to incorporate this functionality into your expansion module?

![Screenshot_2019-09-05_10-02-42](https://user-images.githubusercontent.com/12547379/64327889-5cdc6c80-cfc4-11e9-8f6e-a15c53214fc2.png)

[2019-10-27 18:44] flydoggy opened #54 "SRC displaying and outputting the wrong note"
I think the bug is that the display on the SRC module is displaying the wrong thing - when you dial in C#3 it displays C#4. There are three reasons I think this:

When you go up a semitone from C3 the display jumps to C#4.
If you add a Hot Tuna to your patch you can see that when it thinks the output is C#3, SRC displays C#4.
Look at the knob positions in the screenshot: Coarse in the same place,

[2019-10-27 18:59] zezic commented on #54
@flydoggy can you upload a minimal patch able to reproduce that behavior?

[2019-10-27 19:10] flydoggy commented on #54
[https://patchstorage.com/src-bug/](url)

[2019-10-27 19:15] zezic commented on #54
Thank you! Confirmed. Probably, it's a bug related to some rounding precision issues. I will rewrite it and notify about the fix in this thread.

[2019-11-05 13:16] zezic opened #55 "Clock is getting out of sync"
Clock is getting out of sync when fed by external pulse. Need to add a phase auto correction.

[2019-11-05 19:15] zezic opened #56 "Divider can't reset correctly when used with LFO"

[2019-11-05 19:55] zezic opened #57 "Add hotkeys to Clock"
Something like `Space` to Start/Stop ~~and `R` to reset~~ - bad idea for reset because letters can be used to play piano.

[2019-11-05 19:57] zezic opened #58 "Reset Clock on start"
Please, add it to right-click menu.

[2019-11-05 21:44] zezic commented on #43
Oh, hi, @Stubs42.
I don't understand how it was possible for me to miss your message before that moment, I'm sorry.
The feature will be available in the next release of ZZC as an option in context menu of Divider module. I will inform you here additionally when release will become available in VCV Library.
Thank your for your feature request!

[2019-11-06 11:44] zezic commented on #19
False alarm.

[2019-11-06 11:44] #19 closed

[2019-11-06 12:28] #24 closed

[2019-11-06 18:52] zezic commented on #42
VCV Quantizer and Octave are already polyphonic, so there's no need in polyphonic processing in SRC.

[2019-11-06 18:52] #42 closed

[2019-11-07 16:27] #56 closed

[2019-11-11 21:56] SteveRussell33 opened #59 "Win 10 build issue"
``
g++  -std=c++11 -Wsuggest-override   -fPIC -I../../include -I../../dep/include -MMD -MP -g -O3 -march=nocona -funsafe-math-optimizations -Wall -Wextra -Wno-unused-parameter -DARCH_WIN -D_USE_MATH_DEFINES  -c -o build/src/Div.cpp.o src/Div.cpp
src/Div.cpp: In member function 'virtual void Div::process(const rack::engine::Module::ProcessArgs&)':
src/Div.cpp:46:13: warning: unused variable 'fracti

[2019-11-12 10:21] zezic commented on #59
@SteveRussell33 what's your Rack SDK version?

[2019-11-12 17:13] SteveRussell33 commented on #59
Latest rack dev source.

[2019-11-12 17:16] zezic commented on #59
@SteveRussell33 OK. Then, please, use the 6af944e26284a51b0518fd3e8bd3d9162f181b00 commit for now. I will get rid of this problem later, probably I need to explicitly mention a `simd` namespace.

[2019-11-17 18:13] Torinbob opened #60 "Phaseque crashes VCV on Mac"
I just bought Phaseque

Looking forward to trying it but unfortunately it is completely unusable Mac as it crashes VCV as soon as it is dragged into the Rack from the module browser.

Log text says:

[11.372 fatal src/main.cpp:45] Fatal signal 11. Stack trace:
10: 1   Rack                                0x00000001068163cd _ZL18fatalSignalHandleri + 45
9: 2   libsystem_platform.dylib            0x0

[2019-11-17 18:15] zezic commented on #60
Can you please try the light graphics instead of standard? Here is an archive:
[ZZC-Phaseque_Light_Graphics.zip](https://github.com/zezic/ZZC/files/3855930/ZZC-Phaseque_Light_Graphics.zip)

[2019-11-17 18:25] zezic commented on #60
@Torinbob Ah, I've just read your message on Facebook. It seems like light graphics pack helped. I will prepare a release and notify you and others when it reaches the VCV Library.

[2019-11-17 18:37] zezic commented on #60
By the way, @Torinbob, what's your Mac model and graphics adapter? May be this info will help to fix some bug present in Rack or NanoVG.

[2019-11-17 18:55] Torinbob commented on #60
It’s a 2018 MacBook Pro 2.7 gHz with Radeon Pro 560x graphics.

[2019-11-17 19:58] zezic commented on #60
@Torinbob ZZC Phaseque 1.1.2 with light graphics is available in the library.

[2019-11-17 19:58] #60 closed

[2019-11-18 15:48] zezic opened #61 "Polygate: inverse mode"

[2019-11-19 17:25] zezic commented on #44
This will make it overcomplicated. Better to mute unwanted output by some VCA/Mute module.

[2019-11-19 17:26] #44 closed

[2019-11-19 17:53] zezic opened #62 "Module Request: Advanced Flow"
User story:
_еще из идей недавних был модуль типа AS FLOW
только чтобы можно было ввести название под каждой кнопкой
два экстернал инпута многовато, не понимаю особо зачем
но зато внутри можно было бы сделать правила инпута, гейт триггер и все такое прочее
такой типа прогрессивный мьют баттон_

[2019-11-20 16:41] davephillips opened #63 "build error with latest pull"
Fedora 23 Linux
VCV Rack v1.dev
GCC 5.3.1

Hi Sergey ! I've hit a snag when building your latest commit:

[code]

I'm guessing that it's a problem with the old GCC version, but my C++ skills are non-existent. :) Any suggestion for a repair ? Thanks !

[2019-11-20 16:43] zezic commented on #63
Oh, thank you @davephillips! I will fix it in a minute and ask you to try to build it again right in this thread.

[2019-11-20 16:45] zezic commented on #63
@davephillips, please, check the latest commit: 81cc8d56ae83974d26e2c0a5400425431c8981db

[2019-11-20 16:50] davephillips commented on #63
@zezic Okay, all good now, clean build, no problems loading the plugin/modules. Thanks, Sergey, and thanks again for Phaseque too. Excellent musical software. :)

[2019-11-20 16:52] zezic commented on #63
Thank you for your proper report and support @davephillips! Now it's time for me to continue working on Phaseque extensions :)

[2019-11-20 16:52] #63 closed

[2019-11-21 13:59] zezic opened #64 "Module Request: Small Clock"
Oh, I need a small compact clock. Something like 5HP with just BPM, RUN/RESET and CLK/PHASE I/O.

[2019-11-21 14:03] zezic opened #65 "Div Expander waits for sync forever"
Div (Expander) doesn't want to change it's ratio when adjusted in red range and sync is enabled.

[2019-11-21 15:25] #65 closed

[2019-11-22 08:26] RemiCollin opened #66 "(Maybe) Issue with phase in Div"
First of all, I'm discovering the phase sync mechanism, and I think it's a very clever idea !

I'm trying to use it with div, but I'm confused at how it works, shouldn't it sync automatically to the phase period ? Here's what I have on scope :

![Screen Shot 2019-11-22 at 09 20 34](https://user-images.githubusercontent.com/9589616/69409775-e9681280-0d09-11ea-85be-ddec0703bd94.png)

Shouldn't the D

[2019-11-22 11:22] zezic commented on #66
The Div does not have an auto-sync function yet. It only resets when explicitly triggered by `RESET` input:

![Screenshot at 2019-11-22 14-02-44](https://user-images.githubusercontent.com/1945127/69420943-d3ba1380-0d30-11ea-9e9a-8bf9536b5a49.png)

But even after synchronization it will go off-phase if someone change its ratio by CV or knob without syncing that change to the master clock or Div out

[2019-11-22 11:40] RemiCollin commented on #66
Ok so this is the intended behaviour, the phase output is only used to carry tempo information.. I wasn't sure. I thought at first it was carrying both tempo/position suppressing the need of using reset, which seemed more intuitive to me (and probably what the Sync button does on div expander ?), and also opening beautiful possibilities, like generating off beat clocks by just shifting the phase 1

[2019-11-22 11:43] #66 closed

[2019-11-22 11:59] zezic opened #67 "Sync for Divider and Div"

[2019-11-22 12:05] zezic commented on #66
Phase output is used to carry both tempo and position information, but position is not absolute. What's about Divider and Div modules - they are applying their ratio immediately so it's natural for them not to sync. They both trying to output continuous phase without abrupt hops.

It's possible to add an auto-sync feature to Divider as well as to Div, but it would be better to keep it for the next

[2019-11-22 12:28] RemiCollin commented on #66
What do you mean by "position is not absolute" ? Shouldn't we consider the
phase value as "which position are we at in the beat" ?

Sorry for so much questions, but I'd like to implement phase inputs in my
sequencers, and would like to make sure I really understand how it works :)

Le ven. 22 nov. 2019 à 13:05, Sergey Ukolov <notifications@github.com> a
écrit :

[2019-11-22 13:36] zezic commented on #66
Yes, you can consider the phase value as an indicator of the inter-beat position, but what I wanted to say is that's not a mandatory.

The Divider module works by measuring a difference between current phase input and its previous value.
For example, let's imagine a simplified 2:1 Divider. Let's say, it receives a `0.7` value from the clock when previous value was a `0.5`. So, the difference betwe

[2019-11-22 14:22] RemiCollin commented on #66
Thanks a lot for the detailed explanation & suggestions ! I'll definitely
look into Bitwig grid system, been on my todo list for a while...

About the auto sync, I still have the feeling, regarding user experience,
that I'd expect phase output to sync by default, but at the same time it
would be a breaking change and for consistency it's probably best to
implement it later the same way you did for

[2019-11-22 14:30] zezic commented on #66
It can be added in the next way to not break any existing patches:
1. If user loads a patch with Dividers in Divs and they have the old sets of settings (where auto-sync is not mentioned) they will work as they worked before (without auto-sync).
2. If user adds a fresh new instance of Divider or Div it spawns with auto-sync enabled by default.

Also, an option to set the default behavior can be ad

[2019-11-24 11:31] sanderbaan opened #68 "Phaseque: Always hang on exit on Mac"
Whenever there is a Phaseque in the patch when quiting VCV Rack it hangs. Tried also with a patch with just Phaseque and still hangs, have to force quit. Hang also occurs when I try to delete Phaseque after restarting. See hanglog attached. Mac OS 10.14

[hangphaseque.txt](https://github.com/zezic/ZZC/files/3883478/hangphaseque.txt)

[2019-11-24 12:10] zezic commented on #68
Thank you for the report and especially for the provided dump, @sanderbaan.

Can you do the following?
1. Navigate to the `Documents/Rack/plugins-v1/ZZC-Phaseque` folder.
2. Archive the `res` folder (Zip archive will do) and attach it with the reply to this thread.
3. Download the next alternative version of graphics: [ZZC-Phaseque_Light_Graphics.zip](https://github.com/zezic/ZZC/files/3883504/ZZC

[2019-11-24 12:11] sanderbaan commented on #68
[res.zip](https://github.com/zezic/ZZC/files/3883510/res.zip)

[2019-11-24 12:14] sanderbaan commented on #68
with the new gfx does not hang when nothing is connected(did before) and in default state(init), when I randomize all patterns and then try to close it hangs again

[2019-11-24 12:33] zezic commented on #68
That's pretty strange because it turned out that contents of these 2 folders were identical.
Can you attach a dump with the latest case, please? I mean, when it hangs when closing the Rack after randomizing.
Also, please, let me know your e-mail by sending something to zezic51@yandex.ru
I will prepare several builds to narrow down the issue.

[2019-11-24 12:58] #61 closed

[2019-11-24 12:59] zezic commented on #58
Added in v1.1.1

[2019-11-24 12:59] #58 closed

[2019-11-24 13:09] zezic commented on #57
Added in v1.1.1

[2019-11-24 13:09] #57 closed

[2019-11-24 13:09] zezic commented on #55
Fixed in v1.1.1

[2019-11-24 13:09] #55 closed

[2019-11-24 13:09] zezic commented on #54
Fixed in v1.1.1

[2019-11-24 13:09] #54 closed

[2019-11-24 13:10] zezic commented on #52
Added in v1.1.1

[2019-11-24 13:10] #52 closed

[2019-11-24 13:10] zezic commented on #46
Added in v1.1.1

[2019-11-24 13:10] #46 closed

[2019-11-24 13:10] zezic commented on #43
Added in v1.1.1

[2019-11-24 13:10] #43 closed

[2019-11-24 13:10] zezic commented on #40
Added in v1.1.1

[2019-11-24 13:10] #40 closed

[2019-11-24 13:12] zezic commented on #31
Added in v1.1.1

[2019-11-24 13:12] #31 closed

[2019-11-24 13:12] zezic commented on #25
Fixed in v1.1.1

[2019-11-24 13:12] #25 closed

[2019-11-24 13:12] zezic commented on #21
Added in v1.1.1

[2019-11-24 13:12] #21 closed

[2019-11-24 13:12] zezic commented on #20
Added in v1.1.1

[2019-11-24 13:12] #20 closed

[2019-11-24 13:13] zezic commented on #15
Added in v1.1.1

[2019-11-24 13:13] #15 closed

[2019-12-04 13:03] zezic opened #69 "Module Request: Gate Delay"
Make a Gate Delay module with tempo-sync (triggers, V/SPB or V/BPS) additional fading CV feedback (and, maybe, a mutating CV feedback).

[2019-12-13 13:30] zezic opened #70 "Module Request: Phase Driven Scope"

[2019-12-22 10:33] #59 closed

[2019-12-23 16:10] mhetrick commented on #35
Phaseque is one of my favorite Rack purchases, but it's better for sequencing a single voice instead of, say, a rack of 8 different drums. What I would love to see is a very simple 8/16 step gate sequencer driven by PHASE. That way, we can use the excellent Clock and Divider modules to create bendable phases. The Pulse Matrix is great, but it is clocked only by triggers. The ability to manipulate

[2019-12-28 12:20] odhondt commented on #60
I also have the crash problem with 1.1.2 in high sierra. How to switch to light graphics mode?

[2019-12-28 12:40] zezic commented on #60
@odhondt Please, let me know your email by sending something to zezic51@yandex.ru
I will send you a build with a potential fix.

[2020-01-06 15:42] zezic opened #71 "SRC: Coarse knob doesn't snap to octaves when controlled by MIDI"

[2020-02-12 19:52] quantegy commented on #68
Also getting this when browsing the sequencer category in Rack, if the Phaseque is in the patch, as well as when I try to remove the module from the Rack patch, it will cause Rack to hang. I am using Mac Catalina.

[2020-09-01 21:30] jhonnyrb commented on #68
Hi, who can help me with vcv rack, the program closes, gives an error. i have mac catalina 10.15.2

[2020-09-02 02:22] zezic commented on #68
Hello, @jhonnyrb!
I will publish the bugfix release until September 7th. The thing is that alongside with the bugfix I started to develop a new set of features and performance optimizations and it took more time than I expected.
Now, as the bug becomes too common among macOS users I decided to decouple it from the new features I'm developing and to release it separately but sooner.

For now, until

[2020-09-02 19:32] jhonnyrb commented on #68
thanks for answering, the folder does not appear in the rack, do we have to wait for the update to launch?

regards..

[2020-09-03 03:22] zezic commented on #68
@jhonnyrb When opening the user folder do you have the `plugins-v1` folder inside it?
If yes, then open it and you should see a bunch of plugin folders inside, one of them will be the folder named `ZZC-Phaseque`. Remove the `ZZC-Phaseque` folder. This way you will be able to disable the Phaseque plugin temporarily.

After doing that, when running the Rack it will ask you to install the Phaseque pl

[2020-09-03 14:53] zezic commented on #68
@jhonnyrb That's interesting. So, you saying that when you transfer VCV Rack to applications it gives the error (because of ZZC-Phaseque module), but when you run VCV Rack from Downloads folder, then it runs well. Did I got you correctly?

[2020-09-03 15:03] jhonnyrb commented on #68
@zezic it is correct i run it from download folder and it works fine. If I see another change I will notify you. thank you very much for your help.

[2020-09-07 19:22] burdickjp opened #72 "Dividers don't reset to 0"
I am trying to use a clock and dividers to feed a sequencer. When I disable "run" on the clock and then "reset" the clock and all of the devices the dividers are stuck high.

[2020-10-05 23:09] anlexmatos opened #73 "ZZC Clock feature request: Optional bipolar +/-5V phase output"
I've found that the ZZC Clock makes an excellent pair with my [Algomorph](https://github.com/anlexmatos/FM-Delexander) module: by patching the ZZC Clock's gate and phase outputs to Algomorph's Morph and Trigger inputs, circular morphing between Algomorph's three stored algorithms is enabled.

There's just one minute issue: Algomorph is designed around pivoting left or right from a center algorithm

[2020-10-06 06:40] zezic commented on #73
@anlexmatos Done and waiting for publishing on VCV Library. Binary builds are already available: https://github.com/zezic/ZZC/releases/tag/v1.1.3

[2020-10-06 12:56] cschol opened #75 "Invalid license ID in plugin.json"
It has been a while since the plugin was last updated. We now have a check for invalid license IDs in place.

[code]

It should either be `GPL-3.0-only` or `GPL-3.0-only-or-later`.

[2020-10-06 13:32] zezic commented on #75
Thank you, fixed with e64377b49452d204ab6a8999978eb64543144eac

[2020-10-06 13:32] #75 closed

[2020-10-06 14:29] anlexmatos commented on #73
Excellent. Thank you!

[2020-10-08 22:46] zezic commented on #73
Released on VCV LIbrary.

[2020-10-08 22:46] #73 closed

[2020-11-09 12:40] zezic opened #76 "Module Request: Time-based Phasor"
Need a module which is able to generate phasor output with very long period times (minutes or even hours).
It should have the rhythmic outputs and it should have the rewind buttons (they should handle rhythmic outputs correctly and not skip the steps). Possibly, it will be a timeline-like module for structuring the long arrangements.

[2020-11-16 03:43] mhetrick commented on #68
@zezic Sorry to bump this, but was 1.1.3 ever released? I'm still experiencing hangs with Phaseque on my Mac. It works perfectly on Windows and is an excellent device.

[2020-11-17 13:54] zezic commented on #68
@mhetrick Thank you for bumping this. I sent you email with the version to test. I hope, it will fix the issue and that it will be released soon.

[2021-01-12 19:39] zezic opened #77 "Module Request: Polyphonic Voltage Bank / Attenuverter"
A pair modules (8-ch / 16-ch) with knobs and polyphonic IO. Should be very useful for building polyphonic patches because I'm tried of putting the cables from VCV 8vert to VCV Merge every time I need a bunch of different voltages in poly-cable.

[2021-01-12 20:06] zezic opened #78 "Module Request: Unison"
A tweak-rich polyphonic voltage spread / offset utility. I've seen it already implemented at Bogaudio but I want more visualization and controls. Maybe it would be interesting to add a polyphonic gate delay for strumming effects.

[2021-01-26 19:01] zezic opened #79 "Div (Expander) should force apply new fraction on source reset"

[2021-01-26 19:03] zezic commented on #68
The issue should be fixed now.

[2021-01-26 19:03] #68 closed

[2021-10-26 04:38] squinkylabs opened #80 "VCV Rack 2 Compatibility"
I see some speculation about whether you are going to port this to 2.0.

Some info: https://github.com/squinkylabs/Demo/blob/main/docs/license-issues.md

[2021-10-30 04:50] squinkylabs commented on #80
sounds good.

[2021-10-30 07:53] zezic commented on #80
Haha, yes! But don't close it, let me finish the migration 😄

[2021-11-24 11:39] ContemporaryInsanity opened #82 "v2 room brightness"
Clock, Divider & FN-3 displays do not light up when room is dimmed, haven't checked other modules.

[2021-11-24 14:22] zezic commented on #82
Fixed in cb151afd226d9d544b8872cb5cb7d3713fc18e00

[2021-11-24 14:22] #82 closed

[2021-11-29 13:45] zezic opened #83 "Clock: Internal Reset"
Add the "Internal Reset" or "Mute Reset on Start" feature which will allow to reset the clock phase on start without letting the RESET output to produce the trigger.

[2021-12-01 09:41] zezic opened #84 "Phaseque: Rack 2 Compatibility"
Need to port Phaseque to Rack 2.

[2021-12-01 13:12] zezic opened #85 "Module Request: Clock/Gate Quantizer"

[2021-12-01 16:31] polarity commented on #85
would be nice if you could do it in the slim sh-8 design. multiple triggers / gates.

[2021-12-02 01:43] zezic commented on #80
Released on VCV Library.

[2021-12-02 01:43] #80 closed

[2021-12-03 11:57] falkTX opened #86 "Please use GPLv3.0+ instead of GPLv3.0-only license"
Hi again,
Is there a specific reason ZZC modules are licensed as GPLv3.0-only, instead of the more common GPLv3.0+?

This is a blocker for integrate your modules into Cardinal, as the only license possible would then be GPLv3.0, which is not very nice...
If using GPLv3.0+ we could mix it together with GPLv2.0+ and future GPLv4, v5 etc

Using GPLv3.0-only as the code license is problematic going fo

[2021-12-03 14:41] cschol opened #87 "v2: References to custom fonts stored across frames"
Your plugin stores references to custom fonts across frames. This leads to crashes in the VST when reloading a project.

For example (but there might be others):
[code]

Please see the following link on how to resolve this issue and re-submit to the Library:
https://vcvrack.com/manual/Migrate2#2-1-Don-t-store-Font-and-Image-references-across-multiple-frames

[2021-12-03 15:08] zezic commented on #87
Oh, really. I totally forgot about that point! Thank you! I will post the new commit hash inside library issues right now.
Fixed by 3f12cb06b974e7b9c6c80d84cff955c7c680d5b4

[2021-12-03 15:08] #87 closed

[2021-12-03 15:30] zezic commented on #86
I read somewhere (sorry, can't find the article) that it's better to control any upstream license updates by fixing the projects current license to the particular version. Who knows what will be added to GPLv5?
I would like my modules to be **included** to Cardinal project, but I also would like to keep my code safe and protected against any possible harmful GPL upgrades. Today's _social environme

[2021-12-03 16:46] falkTX commented on #86
This is a question of trust, and keeping future compatibility,

Projects that had similar ideas of yours in mind made in the past (GPLv2-only when GPLv3 was not yet a thing), but which the authors stopped developing for some reason or which commits comes from 3rd parties that are not always easy to track down (so everyone who contributed could say yes to license changes), are now forever stuck wit

[2021-12-05 09:28] nay-seven commented on #84
good news ! ;-)

[2021-12-05 10:42] falkTX commented on #86
What about using an alternative, non-GPL license, that is still compatible with GPL in general?
I am guessing BSD/ISC is not a good option, since you went GPL in the first place,

https://www.gnu.org/licenses/license-list.html#GPLCompatibleLicenses lists a few.

Artistic2 and MPL2 are somewhat common and the most similar to GPL afaik.

[2021-12-07 12:55] dromer commented on #86
I think if you do not trust FSF then you shouldn't use GPL license in the first place.

It would then be best to pick a different license for your modules so that you can ensure that your rights are met and they can stay included in Cardinal :)

[2021-12-08 09:10] Omar-Misa opened #88 "(BUG) DIV modules in VST"
The ZZC Clock and time modulators are my favourite plugins for clocking in VCV.
i figured that they were best hope of getting song position into VCV VST.  **ZZC Clock** works great but the **DIV** time modulators aren't responding.

![clock dividers](https://user-images.githubusercontent.com/72618091/145175995-9631b565-7ce5-49f4-a7bf-36191cf1d62f.PNG)
Pictured above i have:
- Host DAW sending song

[2021-12-12 14:19] falkTX commented on #86
Just to let you know, I have removed your ZZC modules from Cardinal just now.
Will be glad to add them back if the license situation changes and becomes compatible.

[2021-12-12 15:04] zezic commented on #88
I think, there is a problem with insufficient plugin parameter update rate in FL Studio. As a workaround it should be possible to feed Rack with phase input using its audio input which is having sample-precise resolution.
I will think how I can improve it to perform correctly for your use case.

[2021-12-12 15:18] zezic commented on #86
@falkTX Sorry for making all involved people to wait too long. I changed (268c15711a7fe184970b1525c98f17e72db64af5) the license to GPL-3.0-or-later.

_P.S. I feel like currently it will take significantly less energy to "just change it and forgot" rather that trying to find the optimal alternative and it's better to not hurt the existing user experience. I'm still somewhat skeptical about future F

[2021-12-12 15:36] dromer commented on #86
I would assume that if you choose the GPL you would not have skepticism towards FSF, but I hope you will then find a suitable candidate for re-licensing in the future if that remains your stance.

All in good will, at least I hope!

[2021-12-12 16:07] falkTX commented on #86
I was not expecting that, so now pleasantly surprised.
Thanks for reconsidering, and sorry for pushing a bit, licenses are just not something we can joke around for such a project.

Will add it back again shortly :smile:

[2021-12-12 16:07] #86 closed

[2021-12-12 21:39] Omar-Misa commented on #88
Thank you, zezic, for looking into this.  Using an external audio-rate phasor works well but generating it in FL Studio is a little tricky, in terms of scaling.  ZZC Clock responds well to the 24PPQ clock, relayed by the Rack VST.  The problem i previously mentioned, about ZZC Divs inheriting phase from ZZC Div(expander), seems to not be the case anymore.  Perhaps due to the update of Rack 2.0.3.

[2022-01-16 22:13] falkTX opened #89 "Artwork license clarification request"
On #37 you mention the artwork not being under GPL, with some notes added in the LICENSE.txt file.
But reading the top of that file only copyright is mentioned, no artwork license terms.
Except the obvious "Please, contact author [...] if you want to use graphics for public works", but that is not really a license.

So what is the license for the artwork files then?

[2022-01-16 22:17] falkTX opened #90 "SKODANext font license missing"
You provide 3 sets of fonts: DSEG, Nunito and SKODANext.
The first 2 provide clear license terms, the last one is missing a license altogether.

What are its origins? What is its license?

[2022-01-20 10:40] zezic commented on #89
Can you suggest a license? For sure, I would like to give a permission to include these modules with their graphics in any host where they will act and perform like they currently do. So, if they look and act like ZZC modules – yes, they can keep their current artwork with logos, controls and anything.

[2022-01-20 10:41] zezic commented on #90
That's good question. I will try to register at Skoda website to find out more about the font. Maybe I will have to change it to some other similar font like Montserrat.

[2022-01-20 11:21] falkTX commented on #89
CC-BY-SA is the one that matches in spirit with GPL - use it for whatever you want, but any changes need to be published in the same way, same license.

Then some add in -NC for non-commercial, or -ND for non-derivatives, or both.

Alternatively you can also use GPL for artwork, that is valid too.

[2022-01-23 23:33] trevormeier commented on #84
Looking forward to these in Rack 2!

[2022-02-02 10:27] falkTX commented on #89
Hey, any resolutions on this?
I plan to release Cardinal is 12 days, that target date is slowly approaching. I will try to help if you still have any questions.

[2022-02-06 18:00] zezic commented on #89
@falkTX I changed the panel graphics license to CC BY-NC-SA 3.0. ZZC logo is now free to use anywhere within ZZC modules as long as they look and perform like their original versions designed for VCV Rack.
I hope this will allow to include ZZC into Cardinal!

[2022-02-06 18:05] falkTX commented on #89
Kinda.. "as long as they look and perform like the original" is not really something enforceable, having such text there is pointless and problematic. Cardinal now runs on BSD which afaik Rack never did, nor did any Rack dev tried. Is porting to new platforms "performing like the original"? The original never worked on them so it could be...
Any such text you try to add is always going to be probl

[2022-02-06 18:05] zezic commented on #90
`SKODANext-Regular.ttf` has been eliminated with the d1643cc2b8a843938fbf6d15d9226a57faefce65. It's not used for any of the finished modules anyway, it will be better to find similar font with clear license to migrate to.

[2022-02-06 18:05] #90 closed

[2022-02-06 18:11] falkTX commented on #89
Here is a proposal;

ZZC Panel Graphics are licensed under CC BY-NC-SA .0:
https://creativecommons.org/licenses/by-nc-sa/4.0/

The ZZC Logo is Copyright (c) 2019 Sergey Ukolov and cannot be used in derivative works.
ZZC plugin ports to other environments than VCV Rack that leave graphics intact do not constitute a derivative work.

[2022-02-06 18:23] zezic commented on #89
I agree. This restriction is too blurry.

Accepted!

[2022-02-06 21:07] falkTX commented on #89
Thanks, I think that works quite nicely then! Will re-add your modules.

[2022-02-06 21:07] #89 closed

[2022-02-09 07:50] ngriaznov opened #93 "Phaseque in VCV2"
Will there be an upgrade for Phaseque available for VCV2? It is my favorite sequencer in VCV.

[2022-03-11 14:30] nay-seven commented on #84
Hello, 3 months later, no news,
are you ok ?

[2022-03-12 12:40] zezic commented on #84
Hi, @nay-seven. I'm OK, however the situation around me (and in the world) is not quite stable at the moment. But anyways, to the good, a few days ago I fixed the undo/redo history handling for Phaseque and it seems that it's only left to repair the parameter values updating when patterns are switched.

Also I'm thinking about moving Phaseque to open source after slight code clean up.

[2022-03-12 13:20] nay-seven commented on #84
hey, really happy all is ok for you !
And yes this world is clearly going more and more crazy ! ;-(
but happily, we have the music.
good news for the modules, and if you need beta tester ( Mac mojave & catalina here) count with me !

[2022-03-25 06:32] Setkias commented on #84
Great to hear you're ok.
Hearing you're thinking about making Phaseque open source sounds very interesting.
Count me in as a beta tester (Win/Lin).

[2022-04-02 09:46] pgatt commented on #84
Count me in as a beta tester too. On Mac here.

[2022-04-04 20:27] pgatt commented on #84
@zezic Any updates?

[2022-06-05 15:58] VegaDeftwing commented on #84
@zezic Any update on this?

[2022-06-06 06:34] nay-seven commented on #84
yes, could be really cool to inform users who support you by buying your modules ?
i need to use vcv 1.1.6 to use Phaseque, but could be easier in rack 2

[2022-07-31 18:12] trevormeier commented on #84
Any news on this? Phaseque looks rad! I’d love to buy it but I’m a VCV2 user

[2022-11-20 18:13] maxp-hover opened #94 "Missing docs"
Hi, there is missing documentation for a number of the modules. SC-VCA, SH-8, SRC, Div + Expander, and Polygate